.md-games__container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 8px 16px;
}
.md-games__apiForm {
  text-align: center;
  min-height: 32px;
}
.md-games__ordering,
.md-games__page {
  height: 2.4375rem;
  padding: .5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-size: 1rem;
  line-height: normal;
  color: #0a0a0a;
  padding-right: 1.5rem;
  -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  option {
    height: 50px;
  }
}
