@import "./variables";
.gameCard {
  background-color: $dark-gray-1;
  border-radius: 12px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
  width: 100%;
  max-width: 550px;
  &__title {
    padding-left: 8px;
  }
  &__image-wrapper {
    width: 100%;
  }
  &__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
  &__content {
    margin: 32px 16px;
  }
  &__property {
    display: inline-flex;
    margin: 0 8px;
    &-label {
      color: hsla(0,0%,100%,.4);
      margin-right: 8px;
    }
  }
}
